.logo {
  width: 40%;
}

a {
  text-decoration: none !important;
}

.my-nav {
  margin-left: auto;
}


.navbar {

  border-style: none;
  border-radius: none !important;
}

.bg-body-tertiary {
  background-color: #B3DBC3 !important;
}

#Home {
  background-color: rgb(219, 237, 238);
  min-height: 100vh;
}

.recipe-card {

  width: 100%;
  display: flex;
  justify-content: center;
}

.recipe-card-inner {
  height: 500px;
}

#site-title {
  font-family: "Mistrully", "Cabin Sketch", cursive;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(77, 150, 126);
}

.carousel-caption h2 {
  color: black;
}

#singleRecipeView img{
  width: 100%;
  min-width: 300px;
}

#singleRecipeView{
  width: 75%;
  flex-direction: row;
  
}

#imageBadge {
  width: 300px;
}

#imageBadge p{
  transform: rotate(40deg);
  right: -12px;
  top: 5px;
  background-color: #397d54;
  font-size: 18px;
  color: aliceblue;
  border-radius: 5px;
  padding: 5px 10px;
}

/* media queries */

@media screen and (max-width: 992px){
  #singleRecipeView{
    width: 90%;
  }
}

@media screen and (max-width: 768px){
  #singleRecipeView{
    width: 95%;
    flex-direction: column;
    align-items: center;
  }
  #singleRecipeView img{
   margin-bottom: 30px;
  }
}